name: postgresql
description: PostgreSQL database
services:
  postgres:
    image: postgres:latest
    container_name: postgresql
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data

  myapp:
    build: .
    container_name: myapp
    restart: always
    depends_on:
      - postgres